.parent-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.parent-container > div {
  margin-top: 2%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 11px;
  width: fit-content;
}

.each-data {
  width: 45%;
}
.each-data > input {
  width: 90%;
}
.form-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0;
}
